<div class='well' style='margin-top:20px;'>
    <h3>Notice for SubsetSum@Home Users</h3>
    <p>SubsetSum@Home is transitioning to a sub-project of <a href='../csg/'>Citizen Science Grid</a>. SubsetSum@Home workunits will be sent out from the Citizen Science Grid project.  You can link your SubsetSum@Home account to your account on Citizen Science Grid so it will continue to gain credit for completing SubsetSum@Home workunits on Citizen Science Grid by visiting the <a href='../csg/link_accounts.php'>link accounts</a> webpage.</p>

    <p>You can visit the <a href='http://volunteer.cs.und.edu/subset_sum/forum_index.php'>old forums</a> and the <a href='http://volunteer.cs.und.edu/subset_sum/index_old.php'>old homepage</a> while the transition is in progress.</p>
</div> <!-- well -->

<div class='well' style='margin-top:20px;'>
    <h3>SubsetSum@Home Progress</h3>
    <p>You can track the current progress of the project on the <a href='http://volunteer.cs.und.edu/subset_sum/progress.php'>SubsetSum@Home progress webpage</a>.
</div> <!-- well -->


<div class='well' style='margin-top:20px;'>
    <h3>Contact Information</h3>
    <p>Please email any questions or suggestions to <a href='mailto:tdesell@cs.und.edu'>Travis Desell</a>, or feel free to post a message in our <a href='../csg/forum_index.php'>forums</a>.</p>

    SubsetSum@Home is run by:
    <ul>
        <li>
        <a href='http://people.cs.und.edu/~tdesell/'>Travis Desell</a>, Assistant Professor of Computer Science, University of North Dakota
        </li>
        <li>
        <a href='http://people.aero.und.edu/~oneil/'>Tom O'Neil</a>, Associate Professor of Computer Science, University of North Dakota
        </li>
    </ul>

    <!--With previous support from:
    <ul>
    </ul>
    -->
</div>

<div class='well' style='margin-top:20px;'>
    <h3>Publications</h3>
    <p>
    All publications, talks and posters about SubsetSum@Home can be viewed on the Citizen Science Grid's <a href='../csg/publications.php'>publications page</a>.
    </p>
</div>

<div class='well' style='margin-top:20px;'>
    <h3>Support</h3>
    <div class='row'>
        <div class='col-sm-3'>
            <a href='http://und.edu'><img class='img-responsive' src='http://volunteer.cs.und.edu/wildlife/images/und_logo.png'></img></a>
        </div>
        <div class='col-sm-9'>
            <p>
            SubsetSum@Home hardware has been generously supported by a new faculty SEED grant from UND's Office of Research Development and Compliance. The Citizen Science Grid volunteer computing server is hosted by UND's <a href='http://www.aero.und.edu/about/SCC.aspx'>Scientific Computing Center</a>.
            </p>
        </div>
    </div>

    <div class='row'>
        <div class='col-sm-3'>
            <a href='http://boinc.berkeley.edu/' style='display:block; margin-left:auto; margin-right:auto;'><img class='img-responsive' src='http://volunteer.cs.und.edu/wildlife/img/pb_boinc.gif' alt='Powered by BOINC'></img></a>
        </div>
        <div class='col-sm-9'>
            <p>
            SubsetSum@Home is in part powered by the <a href='http://boinc.berkeley.edu/'>Berkeley Open Infrastructure for Network Computing (BOINC)</a>.
            </p>
        </div>
    </div> <!-- row- -->
</div> <!-- well -->

